__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
ENV/
env/
.venv/
.Python

db.sqlite3
*.log

.vscode/

.idea/
*.sublime-project
*.sublime-workspace

*.iml
*.ipr
*.iws
.idea/

*.bak
*.swp
*.tmp


/staticfiles/
/media/

**/migrations/*.pyc
**/migrations/__pycache__/
/*.sqlite3


htmlcov/
.coverage
coverage.xml
